<h1>New fileelement</h1>

<form action="/fileelements/" method="post"
      enctype="multipart/form-data">
  <input name="fileelement" type="file" />
  <input type="submit" />
</form>

<%= link_to 'Back', fileelements_path %>

